html {
    scroll-behavior: smooth;
}

#color {
    color: #DC143C;
}
/* /////////////////////////// NAV ///////////////////////////// */


nav {
    display: flex;
    background: #F3EFE0;
    padding: 8px;
    border-bottom: 4px solid #434242;
    }

    /* Nav links styling */
nav div a {
    color: #434242;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Unica One', cursive;
    background: #F3EFE0;
    }

.hamburger {
    display: none;
    color: #434242;
    margin-right: 10px;
    font-size: 24px;
}



    /* Maybe use this for the portrait? */
/* nav div a:hover {
   font-size: larger;
    } */

/* //////////////////////// HEADER ////////////////////////////// */

/* Container div for grid */
#container {
    display: grid;
    grid-template-areas:
    "header header header header"
    "about about about about"
    "main main main main"
    "footer footer footer footer";
}

/* Grid Area: Header */
#header {
    background: #FDFFFC;
    grid-area: header;
    height: 480px;
}

/* "Hi my name is Chris */
#h1 {
    font-size: 25px;
    position: relative;
    margin-left: 20px;
    color: #434242;
    width: 50%;
    padding: .2em;
    font-family: 'Unica One', cursive;
    font-weight: bold;
}

.arrow1, .arrow {
    color: #DC143C;
}

.portrait {
    background: url("https://res.cloudinary.com/dd1i00sei/image/upload/v1626303269/Clip2Comic-2021-07-13-15-53-16_wnmefj.jpg");
    background-size: cover;
    height: 300px;
}

/* //////////////////////  ABOUT ME  //////////////////////////////// */


/* Grid Area: About Me */
#about {
    background-color: #F3EFE0;
    grid-area: about;
    height: 630px;
    border-top: 4px solid #434242;
}

/* "ABOUT ME" */
#background {
    font-size: 40px;
    color: #434242;
    position: relative;
    font-family: 'Unica One', cursive;
    border-bottom: 4px solid #434242;
    padding: 30px;
    text-align: center;
}

#quote {
    position: relative;
    text-align: center;
    margin: 40px;
    height: 100px;
    padding: 10px;
    font-size: 28px;
    font-family: 'Unica One', cursive;
    color: white;
    background: #434242;
}

#me {
    position: relative;
    text-align: center;
    background: #434242;
    margin: 40px;
    height: 240px;
    font-size: 20px;
    padding: 1em;
    font-family: 'Unica One', cursive;
    color: white;
}



/* ///////////////////////  PROJECTS  //////////////////////////// */


/* Grid Area: Project Cards */
#main {
    grid-area: main;
    height: 1100px;
    border-top: 4px solid #434242;
    border-bottom: 4px solid #434242;
}

/* MY PROJECTS Main Header */
#h2 {
    text-align: center;
    padding: 30px;
    font-size: 40px;
    border-bottom: 4px solid #434242;
    font-family: 'Unica One', cursive;
    color: #434242;
}

/* Parent Element */
.project {
    position: relative;
    /* overflow: hidden; */
    background-size: 100%;
}

/* Image */
img {
    /* transform: translate3d(-30px, 0, 0), scale(1.2); */
    /* transition: 0.35s, transform 0.35s; */
    width: 100%;

    /* margin-top: 50px; */
}



/* figure.project:hover p {
    opacity: 1;
    transform: translate(0px,0,0)
}

figure.project:hover img {
    transform: translate3d(0px, 0,0), scale(1);
    opacity: .5;
} */


/* Center Project Card Header */
h3 {

    text-align: center;
    font-family: 'Unica One', cursive;
    margin-top: 10px;
}

/* Project Card Header links styling */
h3 > a {
    text-decoration: none;
    color: #434242;


}

/* Description */
figcaption  p {
    color: #4DA6A1;
    font-size: 15px;
    text-align: center;
    font-family: 'Unica One', cursive;
    margin: 10px;
    /* transition: opacity 0.35s, transform 0.35s; 
    transform: translate3d(-40px, 0, 0); */
}



/* //////////////////  CONTACT  ///////////////////////// */

/* Grid Area: Contact */
#footer {
    grid-area: footer;
    height: 230px;
    background-color: #434242;
    
}

#h4 {
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-family: 'Unica One', cursive;
    color: white;
}
#social {
    display: flex;
    justify-content: space-evenly;
}


#form {
    text-align: center;

}

input[type="email"] {
    font-family: 'Unica One', cursive;
}

input[type="submit"] {
    font-family: 'Unica One', cursive;
}

/* Social Media Icon ul padding */
#social > ul {
    padding: 10px;
}

/* Social Media Icon text styling */
#social > ul > a {
    text-decoration: none;
    color: white;
}


/* ///////////////////  HAMBURGER  //////////////////////// */
/* Styling Hamburger Icon for Mobile */
@media (max-width: 500px) {
    nav {
        display: block;
        text-align: right;

    }
   
    .hamburger {
        display: block;
        text-align: right;
    }

    nav div a {
        margin-right: 10px;
    }

    /* Nav Links */
    .link {
        font-size: 14px;
        transition: background-color .5s, color .5s;
    }

    nav div a:hover {
        font-size: smaller;
        /* background-color: black;
        color: red; */ 
        /* Settings for the font color and background color after clicking on nav list */
    }

}
/* ///////////////////  TABLET  //////////////////////// */

@media (min-width: 768px) {

nav {
    justify-content: flex-end; 
}

.link {
    padding-right: 10px;
}

.portrait {
    height: 100%;
}

#header {
    position: relative;
}

.arrow1 {
    display: none;

}

#h1 {
    top: 50%;
    width: 250px;
    padding: 0;
    display: inline;
    left: 50%;
    color: white;
    position: absolute;
}

#flexabout {
    display: flex;

}

#about {
    height: 380px;
}

#quote {
    height: 100%;
}

#me {
    height: 100%;
}

#main {
    height: 760px;
}

#main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 30%;
    margin-top: 50px;
}

#footer {
    height: 220px;
}

#social {
    justify-content: center;
}

}


@media (min-width: 1024px) {

#header {
    height: 820px;

}

.portrait {
    height: 80%;
    margin-top: 75px;
}

#h1 {
    left: 60%;
    font-size: 40px;
}

#about {
    border: none;
    height: 900px;
}


#background {
    font-size: 60px;
    margin-top: 40px;
    border: none;

}

#flexabout {
    display: block;
}

#quote {
    width: 500px;
    font-size: 40px;
    text-align: center;
    margin: 60px auto;
}

#me {
    font-size: 40px;
    width: 600px;
    text-align: center;
    margin: 50px auto;
}

#main {
    border: none;
    height: 1200px;
}

#h2 {
    font-size: 60px;
    margin-top: 40px;
    border: none;
}

#main2 {
    margin: 40px auto;
}

.project {
    margin-bottom: 60px;
    margin-top: 60px;
}

h3 {
    font-size: 40px;
}

#h4 {
    font-size: 60px;
}

#footer {
    height: 400px;
}

#form {
    margin-top: 40px;

}

#social {
    margin-top: 40px;
}

#social > ul {
    font-size: 25px;
}

input[type="email"] {
    font-size: 25px;
}

input[type="submit"] {
    font-size: 25px;
}
}