html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    background: teal;
    padding: 8px;

    }

    /* Nav links styling */
nav div a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    }

.hamburger {
    display: none;
    color: white;
    margin-right: 10px;
    font-size: 24px;
}

    /* Maybe use this for the portrait? */
/* nav div a:hover {
   font-size: larger;
    } */

/* Container div for grid */
#container {
    display: grid;
    grid-template-areas:
    "header header header header"
    "about about about about"
    "main main main main"
    "footer footer footer footer";
}

/* Grid Area: Header */
#header {
    background-color: lightgray;
    grid-area: header;
    height: 200px;

}

/* "Hi my name is Chris */
#h1 {
    font-size: 16px;
    position: relative;
    top: 40%;
    left: 10%;
    margin: 10px auto;
    display: inline;
}

.portrait {

}

/* Grid Area: About Me */
#about {
    background-color: white;
    grid-area: about;
    height: 200px;


}

#quote {
    position: relative;
    top: 40%;
}

#me {
    position: relative;
    top: 50%;
    text-align: right;
}

#background {
    font-size: 40px;
    color: black;
    position: relative;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    opacity: 0.15;
}

/* Grid Area: Project Cards */
#main {

    grid-area: main;
    height: 1320px;

}

/* MY PROJECTS Main Header */
#h2 {
    text-align: center;
    margin: 20px auto;
    opacity: 0.15;
}

/* Center Project Card Header */
h3 {
    text-align: center;

}
/* Project Card Header links styling */
h3 > a {
    text-decoration: none;
    color: black;
}

/* Description */
.project > p {
    text-align: center;
}

/* Project Card Images */
p > img {
    object-fit: cover;
    width: 100%;

}

/* Grid Area: Contact */
#footer {
    grid-area: footer;
    height: 150px;
    background-color: teal;
}

#social {
    display: flex;
    justify-content: space-evenly;

}

#h4 {
    text-align: center;
    opacity: 0.15;
}

#form {
    text-align: center;

}

/* Social Media Icon ul padding */
#social > ul {
    padding: 10px;
}

/* Social Media Icon text styling */
#social > ul > a {
    text-decoration: none;
    color: white;
}

/* Styling Hamburger Icon for Mobile */
@media (max-width: 500px) {
    nav {
        display: block;
        text-align: right;

    }
   
    .hamburger {
        display: block;
        text-align: right;
    }

    nav div a {
        margin-right: 10px;
    }

    /* Nav Links */
    .link {
        display: none;
        background: teal;
        font-size: 14px;
        transition: background-color .5s, color .5s;
    }

    nav div a:hover {
        font-size: smaller;
        /* background-color: black;
        color: red; */ 
        /* Settings for the font color and background color after clicking on nav list */
    }

}

@media (min-width: 768px) {
nav {
    justify-content: flex-end;

}

/* Link classes */
nav div a {
    padding: 10px;
}

/* "Hi, my name is Chris */
h1 {

    width: 100px;
}

/* Portrait photo */
.portrait {
    position: relative;
    top: 50%;

    width: 100px;
    margin: 10px auto;
}

/* ABOUT ME */
#background {
    width: 100%;
    font-size: 50px;
    position: relative;
    margin: 40px auto;
}

/* Project CSS Grid */
#main {
    height: 330px;
}

/* PROJECTS */
#h2 {
    position: relative;
    font-size: 50px;
    top: 40%;
}

/* Parent container for project flex cards */
#main2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: -70px;
}

/* Project Cards */
.project {
    width: 130px;
}

#social {
    justify-content: center;
}

#h4 {
    font-size: 50px;
    text-align: center;
    top: 30%;
    position: relative;
}

#form {
    position: relative;
    bottom: 25%;
}
}